:root {
  --color-primary: #c6bd98;
  --color-secondary: #77725e;
  --color-tertiary: #aea273;
}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* personal reset */

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: var(--color-tertiary);
}

section.main {
  width: 100%;
  height: 80vh;
  background-image: url(./img/paper-grid.png);
  background-position: center;
  background-size: contain;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}


.main-container {
  background-color: var(--color-secondary);
  width: min(40%, 30rem);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.output {
  background-color: white;
  height: 40%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.input {
  height: 40%;
  width: 95%;
  display: flex;
  justify-content: center;
}
.input__table {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.input__row {
  height: 33%;
}
.input__data {
  width: calc(100% / 9);
  border: 1px solid black;
  background-color: var(--color-primary);
  transition: all .1s;
}
.input__data span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__data:hover {
  color: white;
  cursor: pointer;
  filter: brightness(105%);
  transform: translate(.15rem, -.2rem);

}
.main-image {
  width: min(40%, 30rem);
  height: auto;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 1rem;
}

@media screen and (max-width: 900px) {
  section.main {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-container {
    width: 95%;
    height: 50%;
  }

  .main-image {
    width: 95%;
    height: 50%;
  }

}


/* precoded footer */
footer {
    padding: 36px;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    background-color: var(--color-tertiary);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  footer a {
    text-decoration: none;
    color: black;
  }

  footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }

